body {
  padding: 50px;
  background: linear-gradient(90deg, dodgerblue, deepskyblue, cyan 80%);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

input {
  padding-right: 15px;
  padding-left: 4px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 5px;
  text-align:center;
  border: cornflowerblue solid;
  width: 300px;
  height: 50px;
  font-size: 26px;
}

input:focus{
  border: darkblue solid;
}

input[name="data_space"] {
  width: 185px;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

select{
  width: 300px;
  height: 50px;
  font-size: 18px;
  padding-bottom: 1px;
  margin-bottom: 4px;
  padding-left: 35px;
  border: cornflowerblue solid;
}

select:focus{
  border: darkblue solid;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.free-font{
  font: 200 50px/1.1 'Georgia', Helvetica, sans-serif;
  color: rgba(61, 19, 17, 0.7);
  text-shadow: 3px 3px 3px #fff;
}

#submit-button{
  text-align: center;
  font-size: 18px;
  width: 150px;
  background-color: whitesmoke;
  margin-left: 25%;
}

#submit-button:hover{
  background: peachpuff;
}

#data{
  padding-left: 25px;
  width: 300px;
  height: 50px;
  font-size: 26px;
}


