body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  padding-right: 15px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 5px;
}
