extends layout

block content
  div(class='center-screen')
    div
      p Запись в очередь
    form(action='/book', method='POST', target='dummyframe')
      p
        input(type='text', name='name_space', placeholder='Как тебя зовут?', required='true')
        select(name='class_space', required='true')
          option(disabled selected Select your option)
          option Операционные системы
          option Методы программирования
        input(type='text', name='task_space', placeholder='Что сдаёшь?', required='true')
        input(type="date", name='data_space', id='data', required='true')
      div(class='outter-submit')
        input(type='submit', value='Записаться!', id='submit-button', required='required')
    iframe(width="0" height="0" border="0" name="dummyframe" id="dummyframe")
    script(src="/javascripts/handler.js")