extends layout

block content
  div
    h1= 'Запись в очередь'
  div
    p Welcome to #{title}
  form(action='/book', method='POST')
    p
      input(type='text', name='name_space')
      input(type='text', name='class_space')
      input(type='text', name='data_space')
    input(type='submit', value='Подтвердить')